.title-event p {
  font-size: medium;
  font-weight: bold;
  justify-items: left;
}

.tooltip-card h2 {
  font-weight: 900;
  margin-bottom: 3px;
}

.tooltip-star {
  padding-left: 5px;
  color: #27c400;
  border: 0.5px #27c400 solid;
  background-color: #f0f0f0;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
}

.tooltip-btn {
  background-color: #f5f5f5;
  color: #a8a8a8;
  border: 0.5px #a8a8a8 solid;
  border-radius: 5px;
  font-weight: 700;
  width: 370px;
}

.tooltip-btn-other {
  border: none;
  font-weight: 700;
  color: #a8a8a8;
  font-size: 16px;
}

.site-card-wrapper {
  background-color: #fff;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 1345px;
}

@media (max-width: 1024px) {
  .site-card-wrapper {
    width: 1005px;
  }
}

@media (max-width: 768px) {
  .site-card-wrapper {
    width: 750px;
  }
}
